.header{
    display: flex;
    background-color: black;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem;
    
}

.header__item-logo{
    flex-grow: 1;
}

.main-banner__content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    padding: 1rem;
    text-align: right;
}

.main-banner__item {
    position: relative;
}

section.main-banner__controller {
    display: flex;
    align-items: stretch;
}

.main-banner__controller-title {
    flex-grow: 1;
    background-color: #3EC6E0;
    color: #fff;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: 0px 0px 0px 10px;
}

.main-banner__controller-arrowSection {
    display: flex;
    gap: .5rem;
    color: #fff;
    background-color: #084154;
    align-items: center;
    padding: .5rem 1rem;
}

.main-banner__arrows {
    display: flex;
    gap: 1rem;
}